
/*contenedor general*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Anton', sans-serif ;
}
 
/*header*/
  
header{
    width: 100%;
    height: 110px;
    margin-top: 10px;
    background-color:black;
}

.contenedor-header{
    max-width: 1200px;
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

.logo img{
    object-fit: cover;
    width: 30%;
    height: auto;
    margin-top: 10px;
}

.contenedor-nav{
    display: flex;
    align-items: center;
    background-color: black;
}

.contenedor-nav #btn_menu{
    display: none;
}

.barra-nav{
    display: flex;
    align-items: center;
    z-index: 1;
}

.barra-nav ul{
    display: flex;
}

.barra-nav ul li{
    list-style: none;
    margin-left: 36px;
}

.barra-nav ul li a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.lista {
    display:inline;
    margin: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
}

/*main*/

.container h2{
   font-size: 35px;
   text-align: center;
}

.container h3{
    font-size: 35px;
    text-align: center;
}

/*footer*/

.pie {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: 100%;
    border-bottom: 30px;
    margin-top: 5px;
}

.datos{
    background-color: black;
    margin: 2px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    color: white;
    width: 33%;
    border: solid;
    border-color: black;
    border-radius: 10px;
}
  
  .datos img{
    width: 50px;
    height: 50px;
}

.derechos{
  width: 100%;
  background-color: black;
  margin: 3px;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: white;
  font-size: 30px;
}


/*media queris*/

@media  (max-width: 1200px) {
    header{
        padding: 40px;
}
}
@media  (max-width: 720px) {
    .barra-nav{
        position: fixed;
        top: 0;
        right: 0;
        background: rgb(236, 232, 216);
        width: 500px;
        height: 100vh;
        padding: 40px;
        z-index: 1;
}

.barra-nav ul{
flex-direction: column;
margin-top: 40px;
}

.barra-nav ul li{
margin-top: 30px;
margin-left: 40px;
}

.barra-nav ul li a{
    color: black;
    cursor: pointer;
}
}




